@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:ital@0;1&family=Lato:ital,wght@0,700;1,700&family=Nanum+Gothic&family=Playpen+Sans:wght@400;700&family=Raleway:ital,wght@0,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@500&family=Fira+Sans+Condensed:ital@0;1&family=Lato:ital,wght@0,700;1,700&family=Nanum+Gothic&family=Playpen+Sans:wght@400;700&family=Raleway:ital,wght@0,700;1,800&display=swap');

:root {
  --navbar-dark-bg: linear-gradient(
    to bottom, 
    rgba(25, 25, 25, 1),
    rgba(35, 35, 35, 1)
      );
  --navbar-light-bg: linear-gradient(
    to bottom, 
    rgba(230, 230, 230, 1), 
    rgba(180, 180, 180, 1)
      );
  --navbar-fontDark-color: rgba(230, 230, 230, .8);
  --navbar-fontLight-color: rgba(23, 29, 54, .8);
  --shadow: 0 .4rem .8rem rgba(255, 255, 255, .3);
  --border-pattern: .5rem solid rgba(168, 166, 166, 1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

html {
  height: 100vh;
  font-size: 62.5%;
}

body {
  height: 100%;
  font-size: 1.8rem;
  font-family: 'Nanum Gothic', sans-serif;
  overflow-x: hidden;
}

.main-heading {
  font-family: 'Dosis', sans-serif;
  color: #eee;
  text-shadow: var(--shadow);
  font-size: 5em;
  position: absolute;
  margin: 0 auto;
  top: 15%;
  right: 10%;
  text-align: center;
}

.bg-wrapper {
  background: url("/assets/img/bg01.jpg");
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-size: cover;
  margin-bottom: 5rem;
}

/* NAVBAR SETTINGS */
.navbar {
  max-height: 10rem;
  width: 100%;
  background-image: var(--navbar-light-bg);
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  border-bottom: .5rem solid rgba(245, 245, 245, .8);
  z-index: 1;
  position: fixed;
}

.navbar__list {
  display: flex;
  list-style: none;
}

.navbar__list a {
  display: block;
  text-decoration: none;
  padding: .5rem;
  margin: 1rem 2rem;  
  font-family: inherit;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--navbar-fontLight-color);
}

h2 img {
  width: 7rem;
  height: 7rem;
  border-radius: 100%;
  background-size: contain;
  border: .5rem solid rgba(168, 166, 166, 0.8);
}

.navbar__list a:hover,
h2 img:hover {
  opacity: .7;
}
/* NAVBAR SETTINGS */


.lorem {
  max-width: 120rem;
  margin: 0 auto;
  text-align: left;
}

.lorem p {
  margin: 2.5rem;
  padding: 1.5rem;
}

